ARChess/ARChess/ARChess/Service References/ARVR/ARVR.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RecognizeSpeech">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="speechToParse" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="sampleRate" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecognizeSpeechResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecognizeSpeechResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>